# Temporary files
noncommitable/

# Python virtual environment, logs and database files
.venv/
*.db
logs/

# Secrets
.env
infrastructure/google_drive_credentials.json
infrastructure/google_drive_token.json